# Allow install scripts for packages that need native binaries
@prisma/client:allow-scripts=true
@prisma/engines:allow-scripts=true
esbuild:allow-scripts=true
prisma:allow-scripts=true
puppeteer:allow-scripts=true
